{% extends 'super_admin/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block content%}


<div class="row">
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5 class="chart">Revenue</h5>
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h2 class="mb-0">₹{{total_revenue}}</h2>
                        </div>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="fa-solid fa-scale-balanced fs-1 text-success mt-3"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5>Sales</h5>
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h2 class="mb-0">₹{{total_sale}}</h2>
                        </div>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="fa-solid fa-list-check fs-1 text-info mt-3"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5>Purchase</h5>
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h2 class="mb-0">₹{{total_cost}}</h2>
                        </div>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="fa-solid fa-truck-moving fs-1 text-danger mt-3"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Cost of saled Product</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">₹{{total_saled_cost}}</h2>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="fa-solid fa-money-bill-trend-up text-danger ml-auto fs-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Total Profit</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">₹{{total_profit}}</h2>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="fa-solid fa-money-bill-trend-up text-success ml-auto fs-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Maximum Profit</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">₹{{maximum_profit}}</h2>
                                    <!-- <p class="text-danger ml-2 mb-0 font-weight-medium">-2.1% </p> -->
                                </div>
                                <!-- <h6 class="text-muted font-weight-normal">2.27% Since last month</h6> -->
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <!-- <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i> -->
                                <i class="fa-solid fa-money-bill-trend-up text-success ml-auto fs-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Order Staus</h4>
                <canvas id="order-status-chart">
                    {% csrf_token %}

                </canvas>

            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <h4 class="card-title mb-1">Sales</h4>
                    <p class="text-muted mb-1">30 dys interval</p>
                </div>
                <div class="row">
                    <div class="col-12">
                        <canvas id="sales-chart">

                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block link %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'admin/js/mychart.js' %}"></script>


{% endblock %}