{% extends 'user/base.html' %}
{% block title %} Password Rest {% endblock title %}
{% block content %}

<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-body rounded">
                <h3>Password Reset</h3>
                <hr>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group my-4">
                        {{form}}
                        <span class="text-danger">{{form.errors | striptags }}</span>
                    </div>
                    <p class="text-secondary">Generate a one-use only link for resetting password and send it to the
                        user email.</p>
                    <button class="btn btn-warning px-5 mt-5 fw-bold d-block mx-auto">SEND</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}