{% extends 'user/base.html' %}
{% block title %} Send OTP {% endblock title %}
{% block content %}

<div class="container my-lg-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
            <div class="shadow p-3 mb-5 bg-body rounded">
                <h3 class="my-3 text-center">User Creation Form</h3>
                <hr>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group my-4">
                        <input type="number" name="mobile" maxlength="10" class="form-control"
                            placeholder="Enter Mobile" autofocus="" required="" id="id_mobile">
                        <small class="text-danger"></small>
                    </div>
                    <button type="submit" class="btn btn-success send_otp_btn">SEND OTP</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}